/* ------- Animations ------- */
.fade-in-up {
    opacity: 0;
    transform: translate3d(0, 50px, 0);
    transition-timing-function: cubic-bezier(0.5, 0.5, 0.5, 1);
    transition-duration: 1s;
    transition-property: opacity, transform;
    &.animated {
        opacity: 1;
        transform: translateZ(0);
    }
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}
@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform:rotate(360deg);
    }
}